body {
    background: black;
    font-family: 'Freckle Face', cursive;
    text-align: center;
    color: white;
}

.page-header {
    height: 10vh;
}

h1 {
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.loginBtn {
    background-color: #ff6600;
    color: white;
    font-size: 1em;
}

/* .loginBtn:hover{
    background:black;
} */

p .hoverbtn:hover {
    transition:0.3s;
    background-color: #df382f;
    color:White;
}